/* forgot pwd */
.forget-pwd-container{
    height: 100dvh;
    width: 100dvw;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    align-content: center;
    position: fixed;
    top: 0;
    left: 0;
    overflow: auto;
}

.forget-pwd-container::-webkit-scrollbar{
    display: none;
}

.forget-pwd-form{
    margin: 25px auto;
    max-width: 300px;
    padding: 30px;
    background-color: #fff;
    border: 2px solid #ddd;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}

.forget-pwd-form .close-forget-btn{
    height: 25px !important;
    width: 25px !important;
    background-color: #f1f1f1;
    background-color: #3cb371;
    border: 0;
    border-radius: 0 0 0 50%;
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
    padding: 0;
}

.forget-pwd-form .close-forget-btn:hover{
    background-color: red;
    color: #fff;
}

.forget-pwd-form .forget-email-box{
    background-color: #f1f1f1;
    border-bottom: 2px solid #ddd;
    display: flex;
    align-items: center;
}

.forget-email-box label{
    padding: 5px 0 5px 5px;
    font-size: 18px !important;
    color: #000;
}

.forget-email-box input[type=email]{
    width: 100%;
    padding: 5px;
    background-color: transparent;
    border: 0;
    outline: none;
}

.forget-pwd-form .forget-btn{
    height: 28px;
    margin-top: 10px;
    padding: 5px;
    width: 100%;
    border: 0;
    border-radius: 2px;
    background-color: #6a5acd;
    align-content: center;
    color: #fff;
    cursor: pointer;
}

.forget-pwd-form .forget-btn:hover{
    background-color: #7b68ee;
}

.forget-pwd-form .forget-text{
    color: #000;
    margin-top: 15px;
    font-size: 15px;
}

.forget-text .bydefault-text, .success-text{
    text-align: justify;
}

.forget-text .success-text{
    color: #3cb371;
}